@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url('/62c97acc3aa63787-s.p.woff2');
    font-display: swap;
}

@font-face {
    font-family: font2;
    src: url('/b5c95a22b4347906-s.p.woff2');
    font-display: swap;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.terminal-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #00f050 40%, #222 100%);
  border-radius: 8px;
}
.terminal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00f050 #222;
}

